
export(readCoordsPars)
export(readAWSMetadata)
export(readVARSMetadata)
export(readCoordsMap)
export(tableAWSCoords)
export(readVariableListMap)
export(getWindHeight)

export(getStatusVariables)
export(getStatusData)
export(downAWSStatusNoUserReq)
export(downAWSStatusUserReqGET)
export(downAWSStatusUserReqPOST)

export(chartMinAWSData)
export(downAWSMinOneCSV)
export(downAWSMinDataCSV)
export(mapHourAWSData)

export(chartAggrAWSData)
export(mapAggrAWSData)
export(tableAggrAWSData)
export(downAWSAggrOneCSV)
export(downAWSAggrDataCSV)
export(downAWSAggrCDTCSV)

export(chartAggrAWSDataSel)
export(tableAggrAWSDataSel)
export(downAWSAggrDataSelCSV)

export(chartWindRose)
export(chartWindBarb)
export(graphWindContours)


export(griddedPNGBase64)
export(griddedCountorMap)

# export(readCoordsWind)
# export(getWindHeight)

# export(getAWSTimeRange)

# export(chartAggrAWSData)
# export(chartAggrAWSDataSel)
# export(chartWindBarb)
# export(chartWindRose)
# export(openairWindRose)
# export(graphWindContours)
# export(chartRainAccumul)

# export(mapMinAWSData)
# export(mapAggrAWSData)
# export(mapHourlyMSLP)


# export(tableAggrAWSData)
# export(tableAggrAWSDataSel)

# export(downAWSMinDataCSV)
# export(downTableAggrCSV)
# export(downAWSAggrOneVarCSV)
# export(downTableAggrDataSelCSV)
# export(downAWSAggrCDTDataCSV)
# export(downWindBarbCSV)
# export(downWindFreqCSV)
# export(downHourlyMSLP)
# export(downRainAccumulSP)
# export(downRainAccumulTS)
# export(downAWSStatusTable)
